[project]
	description = RSARTE models stored in GitHub and accessed through EGit
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mattiasmohlin
[access "refs/for/refs/*"]
	read = group user/mattiasmohlin
	push = group user/mattiasmohlin
	label-Code-Review = -2..+2 group user/mattiasmohlin
	label-Verified = -1..+1 group user/mattiasmohlin
	rebase = group user/mattiasmohlin
	removeReviewer = group user/mattiasmohlin
	submit = group user/mattiasmohlin
[access "refs/heads/*"]
	read = group user/mattiasmohlin
	create = group user/mattiasmohlin
	push = +force group user/mattiasmohlin
	pushMerge = group user/mattiasmohlin
[access "refs/tags/*"]
	push = +force group user/mattiasmohlin
	pushTag = group user/mattiasmohlin
	pushSignedTag = group user/mattiasmohlin
